* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #f2f2f2;
    --blue-profond: #1e3a8a;
    /*Header,boutons,titres*/
    --bleu-clair: #3b82f6;
    /*Survols, reflets*/
    --or-doux: #c5a572;
    /*Bordures, survols 
    luxueux*/
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
    background-color: var(--bg);
}

.sombre {
    background-color: black;
    color: white;
}

header {
    width: 100%;
    background: linear-gradient(135deg, rgba(30, 58, 138, 0.9), rgba(59, 130, 246, 0.9));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    top: 0;

    nav {

        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        background-color: var(--blue-profond);

        ul {
            list-style: none;
            display: flex;
            gap: 2rem;

            li {
                text-decoration: none;

                &:hover {
                    background-color: var(--bleu-clair);
                }

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: white;

                }
            }
        }

        /*btn lune*/
        #sombre {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 2rem;
        }
    }
}

/*menu burger*/
.burger {

    display: none;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;

    span {
        width: 1.5rem;
        height: 3px;
        background: white;
    }

}

@media(max-width: 640px) {
    .links {
        position: absolute;
        right: 0;
        top: 4rem;
        flex-direction: column;
        gap: 1rem;
        width: 11rem;
        display: none;
        background-color: var(--blue-profond);
        padding: 2rem;
        color: white;

    }

    .links li:hover {
        background-color: white;
        color: var(--blue-profond);
        transition: all 200ms ease;
    }

    .links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }

}
h1 {
    font-size: 3rem;
    margin: 2rem 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: var(--blue-profond);
    text-align: center;
    padding-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 4px solid var(--or-doux);
    padding: 2rem ;
    margin: 1rem;
    background-color: white;
    img{
        width: 20rem;
        height: 20rem;
        object-fit: cover;

    }
    h5{
        font-size: 1.2rem;
        margin-top: 0.5rem;
        text-align: center;
        color: var(--blue-profond);
        font-weight: 600;

    }
    p{
        font-size: 1rem;
        margin-top: 0.5rem;
        text-align: justify;
        color: var(--blue-profond);
    }
    .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin-left: 1rem;
    }
    .properties{
        margin: 0.2rem 0.5rem;
        
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
       
        p{
            border: 2px solid var(--or-doux);
            padding: 1rem 2rem;
            border-radius: 2rem;
            background-color: var(--bg);
        }

    }
}