* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #f2f2f2;
    --blue-profond: #3763a1;
    /*Header,boutons,titres*/
    --bleu-clair: #2da6d4;
    /*Survols, reflets*/
    --or-doux: #c5a572;
    /*Bordures, survols 
    luxueux*/
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
    background-color: var(--bg);
}

.sombre {
    background-color: black;
    color: white;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--blue-profond);

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        li {
            text-decoration: none;

            &:hover {
                background-color: var(--bleu-clair);
            }

            a {
                text-decoration: none;
                font-size: 1.5rem;
                color: black;

            }
        }
    }

    /*btn lune*/
    #sombre {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2rem;
    }
}

section {
    display: flex;
    margin: 1rem;
    justify-content: center;
    gap: 2rem;
}

.text-caro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-family: Arial, sans-serif;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

.carousel {
    height: 100vh;
    width: 100%;
    position: relative;
    border-radius: 0.7rem;
    overflow: hidden;


    .slide {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;

    }

    ul {
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        /* Animation fluide */
        transition: transform 0.5s ease-in-out;

    }

    li {
        list-style: none;

    }

    .slide img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;


    }

    button {
        position: absolute;
        font-size: 2.6rem;
        z-index: 10;
        cursor: pointer;
        transform: translateY(-50%);
        top: 50%;
        background: rgba(0, 0, 0, 0.5);
        /* couleur de fond pour plus de visibilité */
        color: #fff;
        border: none;
        outline: none;
        padding: 0.3rem;
        border-radius: 40%;
        transition: background-color 0.3s;
    }
}

#prev {
    left: 0.3rem;
}

#next {
    right: 0.3rem;
}



.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide:not(.active) {
    opacity: 0;
}

.slide.active {
    opacity: 1;
}

li {
    list-style: none;
}

/*page d'accueil card explication*/

.card {
    display: flex;
    flex-wrap: wrap;

    p {
        text-align: center;
        padding: 1rem;
        margin: 1.5rem;
        width: 20%;
        height: 10rem;
        border: 2px solid var(--blue-profond);
        box-shadow: var(--bg) 0px 54px 55px, var(--or-doux) 0px -12px 30px, var(--bg) 0px 4px 6px, var(--bg) 0px 12px 13px, var(--bg) 0px -3px 5px;
        border-radius: 1.5rem;

    }
}

.gems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.info-pierre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 1.5rem;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid var(--or-doux); */
    /* margin: 4rem 2rem; */
    background-color: white;
    border: none;
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    img {
        width: 11rem;
        height: 5rem;
        object-fit: contain;
        cursor: pointer;
    }

    h6 {
        font-size: 1.2rem;
        color: #333;
        margin-top: 10px;
        text-align: center;

    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

h2 {
    color: #3763a1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 0 2rem 0;
}

form {
    position: relative;
    width: 100%;
    height: 100vh;

    object-fit: cover;
    background-repeat: no-repeat;

}

.background {
    width: 100%;
    height: 90%;
    object-fit: cover;

    @media(max-width: 640px) {
        width: 100%;
        height: 120%;
        object-fit: cover;
    }
}

.form-remarque {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    /* Transparence légère */
    padding: 4rem 5rem;
    border-radius: 1rem;
    z-index: 3;
    /* Tout devant */
    box-shadow: 0 4px 10px var(--or-doux);

    @media (max-width: 480px) {
        right: 0;
        top: 50%;
        padding: 2rem 1.5rem;
    }

    input {
        border-bottom: 2px solid var(--blue-profond);
        box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--bg) 0px 4px 6px, var(--blue-profond) 0px 12px 13px, var(--bg) 0px -3px 5px;
        padding: 0.7rem 1rem;
        border: none;
        background-color: var(--bg);
    }

    textarea {
        resize: none;
        border: 2px solid var(--bleu-clair);

    }

    .remarque {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    button {
        color: white;
        background-color: var(--blue-profond);
        border: none;
        border-radius: 1rem;
        padding: 0.8rem 2rem;
        font-size: 1.5rem;
        cursor: pointer;

        box-shadow: var(--bg) 0px 54px 55px, var(--bg) 0px -12px 30px, var(--bleu-clair) 0px 4px 6px, var(--or-doux) 0px 12px 13px, var(--bleu-clair) 0px -3px 5px;

        @media(max-width: 640px) {
            font-size: 1rem;
            padding: 0.8rem 1.5rem;

        }

        &:hover {
            background-color: var(--blue-profond);
            color: white;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

    }
}





















































footer {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .socials {
        display: flex;
        flex-direction: row;

        gap: 0.5rem;

        i {
            color: var(--blue-profond);
            font-size: 1.2rem;
        }
    }
}