*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg: #f2f2f2 ;
    --blue-profond: #2987bc ; /*Header,boutons,titres*/
    --bleu-clair : #2da6d4 ; /*Survols, reflets*/
    --or-doux : #c5a572  ; /*Bordures, survols 
    luxueux*/
}
body{
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
    background-color: var(--bg);
}
.sombre {
    background-color: black;
    color: white;
}
header{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--blue-profond);
    ul{
        list-style: none;
        display: flex;
        gap: 2rem;
        li{
            text-decoration: none;
            &:hover{
                background-color: var(--bleu-clair);
            }
            a{
                text-decoration: none;
               font-size: 1.5rem;
                color: black;

            }
        }
    }
    #sombre{
        background-color : transparent;
        border: none;
        cursor: pointer;
        font-size: 2rem;
    }
}
section{
    display: flex;

}
.text-caro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    /* background-color: #2da6d4; */
    font-family: ;
    h1{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}
.carousel{
    height: 100vh;
    width: 50vw;
    position: relative;
    .slide{
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;

    }
    .slide img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;

      
    }
    button{
        position: absolute;
        background: none;
        border: none;
        outline: none;
        font-size: 2.6rem;
        z-index: 2;
        cursor: pointer;
        color: var(--blue-profond);
        transform: translateY(-50%);
        top: 50%;
        
    }
    #prev{
        left: 0.3rem;
    }
    #next{
        right: 0.3rem;
    }
    li{
        list-style: none;

    }
}
.slide .active{
    opacity: 1;
}
