*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}
:root {
    --bg: #f2f2f2;
    --blue-profond: #3763a1;
    /*Header,boutons,titres*/
    --bleu-clair: #2da6d4;
    /*Survols, reflets*/
    --or-doux: #c5a572;
    /*Bordures, survols 
    luxueux*/
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bleu-clair);
}
.wrapper{
    height: 25rem;
    width: 25rem;
    background: white;
    border-radius: 0.7rem;
    padding: 1.5rem;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    
    
    .card{
        cursor: pointer;
        height: calc(100% / 4 - 10px);
        width: calc(100% / 4 - 10px);
        position: relative;
        perspective: 50rem;
        transform-style: preserve-3d;
        padding: 1rem;
        margin: 0.3rem;
        .view{
            width: 100%;
            height: 100% ;
            background:  var(--bg);
            box-shadow:0 3px 10px rgba(0, 0, 0, 0.1);
            position: absolute;
            border-radius: 0.5rem;
            transition: transform 0.25s linear ;
            backface-visibility: hidden;
            padding: 1rem;
            user-select: none;
            pointer-events: none;
        }
    }

}
.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;

}
span{
    color: black;
    font-size: 3rem;
}


.card .back-view{
    transform: rotateY(-180deg);
}
.card .back-view img{
    max-width: 3rem;
}
.card.flip .front-view{
    transform: rotateX(180deg);
}
.card.flip .back-view{
    transform: rotateX(0);
}