* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

:root {
    --bg: #f2f2f2;
    --blue-profond: #3763a1;
    /*Header,boutons,titres*/
    --bleu-clair: #2da6d4;
    /*Survols, reflets*/
    --or-doux: #c5a572;
    /*Bordures, survols 
    luxueux*/
}

body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bleu-clair);
}


.sombre {
    background-color: black;
    color: white;
}

header {
    width: 100%;
    background: linear-gradient(135deg, rgba(30, 58, 138, 0.9), rgba(59, 130, 246, 0.9));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    nav {

        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        background-color: var(--blue-profond);

        ul {
            list-style: none;
            display: flex;
            gap: 2rem;

            li {
                text-decoration: none;

                &:hover {
                    background-color: var(--bleu-clair);
                }

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: white;

                }
            }
        }

        /*btn lune*/
        #sombre {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 2rem;
        }
    }
}

/*menu burger*/
.burger {

    display: none;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;

    span {
        width: 1.5rem;
        height: 3px;
        background: white;
    }

}

@media(max-width: 640px) {
    .links {
        position: absolute;
        right: 0;
        top: 4rem;
        flex-direction: column;
        gap: 1rem;
        width: 11rem;
        display: none;
        background-color: var(--blue-profond);
        padding: 2rem;
        color: white;

    }

    .links li:hover {
        background-color: white;
        color: var(--blue-profond);
        transition: all 200ms ease;
    }

    .links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }

}

main{
    flex-grow: 1;
    flex-direction: column;
}

.wrapper {
    height: 25rem;
    width: 25rem;
    background: white;
    border-radius: 0.7rem;
    padding: 1.5rem;
}

.cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;


    .card {
        cursor: pointer;
        height: calc(100% / 4 - 10px);
        width: calc(100% / 4 - 10px);
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
        padding: 1rem;
        margin: 0.3rem;
        list-style: none;

        .view {
            width: 100%;
            height: 100%;
            background: var(--bg);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            position: absolute;
            border-radius: 0.5rem;
            transition: transform 0.25s linear;
            backface-visibility: hidden;
            padding: 1rem;
            user-select: none;
            pointer-events: none;
            top: 0;
            left: 0;

        }
    }

}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(13px);
    }

    40% {
        transform: translateX(-13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;

}

span {
    color: black;
    font-size: 3rem;
}

.card .front-view {
    transform: rotateY(0deg);
}

.card .back-view {
    transform: rotateY(180deg);
}



.card .back-view img {
    max-width: 3rem;
}

.card.flip .front-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}